---
import Layout from "../layouts/Layout.astro";
import HeroContent from "../components/HeroContent.astro";
import InfoEmpresa from "../components/InfoEmpresa.astro";
import ServicioPrincipal from "../components/ServicioPrincipal.astro";
import { FormResenas } from "../components/FormResenas";
---

<Layout title="Gaphin">
  <div class="">
    <HeroContent />
    <InfoEmpresa />
    <ServicioPrincipal />
    <section id="reseñas" class="bg-gray-100 py-16">
      <FormResenas client:load />
    </section>
  </div>
</Layout>
