<footer class="bg-gray-800 text-white py-16 px-6 md:px-20">
  <div class="max-w-7xl mx-auto grid md:grid-cols-3 gap-12">
    <!-- Logo y redes -->
    <div class="flex flex-col items-start">
      <img src="/src/img/logo-gaphin.png" alt="Logo GAPHIN" class="w-40 mb-4" />
      <div class="flex gap-4 mt-2 ">
        <a
          href="https://www.instagram.com/gaphinsas_ph/?igsh=MTNzcjRjd3hmdHdzdg%3D%3D#"
          class="text-[#d4a413] flex flex-row items-center capitalize gap-3" target="_blank"
          ><ion-icon name="logo-instagram" size="large"> </ion-icon>
          <span>instagram</span>
        </a>
      </div>
    </div>

    <!-- Dirección -->
    <div>
      <h4 class="font-bold text-lg mb-2">Dirección</h4>
      <p>Barranquilla<br />Cra 39 # 41-131 oficina 201</p>
      <p class="mt-4">Bogotá<br />Cra 15 No 78-02 Oficina 506</p>
    </div>

    <!-- Contacto -->
    <div>
      <h4 class="font-bold text-lg mb-2">Contacto</h4>
      <p><strong>Email:</strong> gerencia@gaphin.com</p>
      <p><strong>Cel:</strong> +57 320 833 3321</p>
      <a
        href="/contact"
        target=""
        class="mt-4 inline-block bg-[#d4a413] px-5 py-2 rounded-md text-white hover:bg-[#c99f0f]"
      >
        ÚNETE A NUESTRA RED
      </a>
    </div>
  </div>
</footer>
