<div class="banner">
  <!-- Contenido del banner -->
  <div
    class="max-w-5xl mx-auto px-6 flex flex-col justify-center h-full text-white text-center"
  >
    <h1 class="text-4xl md:text-5xl font-extrabold leading-tight">
      SERVICIOS DE ADMINISTRACIÓN DE PROPIEDAD HORIZONTAL
    </h1>
    <p class="mt-6 text-lg md:text-xl">
      GAPHIN es una empresa con más de <span class="font-bold"
        >10 años de experiencia</span
      > brindando atención personalizada, <br />
      gestión administrativa y operativa en propiedad horizontal, respaldada por
      la <br />
      <span class="font-bold">Ley 675 de 2001</span> y un equipo profesional altamente
      capacitado.
    </p>
    <a
      href="/servicios"
      class="mt-8 mx-auto w-max bg-[#d4a525da] text-white font-semibold px-6 py-3 rounded-lg shadow hover:bg-[#d4a413] transition duration-500 ease-in-out"
    >
      CONOCE NUESTROS SERVICIOS
    </a>
  </div>
</div>
<style>
  .banner {
    height: 700px;
    background:linear-gradient(rgba(23, 29, 46, 0.488),rgba(5,7,12,0.75)), url("/img/apartamentos2.jpg") no-repeat center fixed;
    background-size: cover;
  }
  
</style>
