<div class="text-center text-[#d4a413] bg-white">
  <span class="opacity-80"
    >Grupo De Administracion En Propiedad Horizontal Integral</span
  >
</div>
<header class="bg-[#d4a413] h-20 flex show-md">
  <nav class="flex justify-between items-center w-[92%] mx-auto">
    <div class="">
      <!-- <img
        class="w-16"
        src="https://cdn-icons-png.flaticon.com/512/5968/5968204.png"
        alt='..."'
      /> -->
      <div class="flex flex-col text-white md:m-2">
        <a href="/" class="text-2xl font-medium">Gaphin S.A.S</a>
      </div>
    </div>
    <div
      class="nav-links duration-500 md:static absolute bg-[#d4a413] md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto w-full flex items-center px-5"
    >
      <ul
        class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8 text-white"
      >
        <li>
          <a href="/" class="hover:text-gray-200 font-normal text-lg">Inicio</a>
        </li>
        <li>
          <a href="/servicios" class="hover:text-gray-200 font-normal text-lg"
            >Servicios</a
          >
        </li>
        <li>
          <a href="/feedback" class="hover:text-gray-200 font-normal text-lg"
            >Reseñas</a
          >
        </li>
        <li>
          <a href="/contact" class="hover:text-gray-200 font-normal text-lg"
            >Contáctanos</a
          >
        </li>
      </ul>
    </div>
    <div class="flex items-center gap-6">
      <a href="https://wa.link/9wh1qt" target="_blank"
        class="bg-[#162b4e] text-white px-6 py-2 rounded-full shadow-md hover:bg-[#2d5598] transition-all cursor-pointer duration-300"
      >
        WhatsApp
    </a>

      <ion-icon
        id="menu-toggle"
        name="menu-outline"
        class="text-3xl cursor-pointer md:hidden text-white"></ion-icon>
    </div>
  </nav>
</header>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navLinks = document.querySelector(".nav-links");
    const icon = document.querySelector("#menu-toggle");

    if (navLinks && icon) {
      icon.addEventListener("click", () => {
        navLinks.classList.toggle("top-[15.2%]");
        icon.setAttribute(
          "name",
          icon.getAttribute("name") === "menu-outline"
            ? "close-outline"
            : "menu-outline",
        );
      });
    } else {
      console.warn("No se encontró el icono o el menú en el DOM");
    }
  });
</script>
